* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif";
}
p li{
  font-size: 18px;
}
.footer{
  font-size: unset;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(156, 71, 1);
  color: white;
  text-align: center;
}
.footer a{
  color: white;
}
.map {
  height: 300px;
  width: 100%;
}
